button {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  background: #403432;
  border: 0;

  &:hover {
    background: #776763;
  }

  &:disabled {
    background: #c1b4b1;
  }
}
