.footer_wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;

  margin: 0 auto;
  padding: 24px 0;

  background-color: #eceaea;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adress,
.phone,
.contacts {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 50px;
  }

  h5 {
    color: #555;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
  }

  svg {
    margin-right: 10px;
  }
}
